$navbar-default-bg: #312312;
$light-orange: #ff8c00;
$navbar-default-color :$light-orange;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo{
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
  margin-right: 10px;
  font-size: 2em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover{
  color: white;
  text-decoration: none;
}

body{
 // position:absolute;
  width: 100%;
  height:100%;
  padding-top: 80px;
}

.nav_item{
  margin-left: 25px;
  float: left;
  margin-top: 20px;
}


.nav_ul_item{
  padding-left: 25px;
  float: left;
  margin-top: 20px;
}

.center{
  text-align: center;
}

h1,h2,h3,h4 {
  line-height: 1;
}

h1{
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}
 
 h2{
  font-size:1.2em;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

.left{
  text-align: left;
  margin-top:10px;
  letter-spacing: 0.5px;
}


.footer{
  text-align:center;
  margin-top: 25px;
  border-top: 2.5px solid #eaeaea;
  color: #777;
}

#divblocksize{
  width:100%;
  height:155px;
  margin-left:0px;
  //background-color:#dfaefd;
}

#browserecipestyle{
  width:30%; 
  //background-color:#ff0000;
}

#dividerdiv{
  width:5%; 
  height:100%;
}

#recipedivcontainer{
  padding-left:20px;
  padding-right:20px;
  //background-color:#ff0000;
  height:155px;
  border-radius:5px;
}

#innerrecipediv{
  float:left;
  width:30%; 
  height:100%;
  //background-color:#ff0aff;
  border-radius:5px;
}
#dividerdivblock{
  float:left;
  width:5%;
  height:100%; 
  //background-color:#afd0ff;
  border-radius:5px;
}
#dividerline{
  //display:inline-block;
  height:100%; 
  margin-left:15px; 
  border-left: thick solid #D5CECE;
}

.chef_info{
  margin-top: 10px;
}

.gravatar{
  border-radius: 10px;
}

.well{
  
  background-color: #EDEDED;
}

input, textarea, select, uneditable-input{
  border: 1px solid #d2d2d2;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 15px; 
}

input{
  height: auto;
}

span.picture
{
  margin-top: 10px;
  input{
    border: 0;
  }
}

.show_recipe{
  margin: 10px 10px 10px 10px;
}

table{
  width:100%;
}

table td, table th {
  //border: 1px solid black;
}